body {
    font-family: "Roboto";
    margin: auto;
    scroll-behavior: smooth;
}

#navbar {
    background-color: #ffffff;
    font-size: 30px;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: ;
}


#navbar_n1 {
    padding-top: 45px;
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

#navbar_n2 {
    font-size: 30px;
    padding-right: 40px;
    padding-top: 40px;
    padding-left: 40px;
}

.otherlinks {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

.otherlinks a:hover {
    background-color: #FFD36E;
    padding-bottom: 45px;
}

.otherlinks ul {
    list-style: none;
    display: flex;
}

.otherlink li {
    width: 100%;
    text-align: center;
    position: relative;
}

.otherlinks li:hover .submenu > li {
    background-color: #FFD36E;
    display: block;
    top: 0px;
}

.submenu li {
    display: none;
    position: absolute;
}

.submenu{
    display: flex;
    flex-direction: column;
    position: absolute;
}

.button {
    padding-top: 50px;
    padding-left: 40x;
    padding-right: 40px;
    text-decoration: none;
    color: black;
}