.container-1{
  display: flex;
  justify-content: center;
}
  
.rectangleFrame{
  position: absolute;
  left: 0;
  width: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: #FFD36E;
  border: 1px solid #FFD36E;

  font-size: 1.5rem;
  text-align: center;
}

.payment_form_body{
  margin-top: 120%;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  padding: 5% 14%;
  border-radius: 10px;
  max-width: 100%;
}

.cart-label{
  font-size: 1rem;
}
  
.fname-box{
  margin-top: -12%;
}
  
.lname-box{
  margin-top: -1%;
}
  
::placeholder{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  
  color: #A3A3A3;
}
  
.email-box{
  margin-top: -13%;
}

  
.phone-box{
  margin-top: -13%; 
}
  
.payment-form-header p{
  font-size: x-large;
  align-items: center;
  width: max-content;
  margin-bottom: 2.2%;
}

.submit-form{
  padding: 2%;
  background: #FFD36E;
  border-radius: 20px;
  border: none;
  width: 30%;
}
  
.venmo_icon{
  width: 30%;
  margin-left: 30%;
  margin-bottom: -44%;
}
 
.paypal_icon{
  width: 30%;
  margin-left: 73%;
}

.icons{
  margin-left: 60%;
  margin-top: -26%;
}

.total_box{
  line-height: 18px;
  margin-top: 7%;
}

.pay_box{
  line-height: 18px
}

.total_pay_box{
  display: flex;
  flex-flow: column;
}

#cart-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cart-form-group{
  margin-bottom: 0.5rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.cart-form-control{
  display: block;
  width: 100%;
  height: calc(1em + 0.15rem + 2px);
  padding: 0.35rem 0.6rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #E3E3E3;
  background-clip: padding-box;
  border: 1px solid #000000;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-left: 30%;
}

.cart-yellow-box{
  display: flex;
  flex-flow: column wrap;
}

.yellow-box{
  background: #FFFFFF;
  border: 8px solid #FFD36E;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 5%;
}

@media only screen and (min-width: 500px) {
  .payment-form-header{
    margin-top: -1%;
  }

  .fname-box{
    margin-top: -9%;
    margin-left: 23%;
  }

  .lname-box{
    margin-left: 23%;
  }

  .email-box{
    margin-top: -9%;
    margin-left: 23%;
  }

  .phone-box{
    margin-top: -9%; 
    margin-left: 23%;
  }
  
  .pay_box{
    margin-bottom: 4%;
  }

  .paypal_icon{
    margin-left: 58%;
  }

  .venmo_icon{
    margin-left: 10%;
  }
}

@media only screen and (min-width: 600px) {
  #cart-form{
    width: 400px;
    flex-wrap: wrap;
  }

  .total_box{
    font-size: 25px;
    line-height: 45px;
  }

  .pay_box{
    font-size: 20px;
    line-height: 33px;
  }

  .fname-box{
    margin-top: -7%;
    margin-right: 40%;
  }

  .lname-box{
    margin-top: -7%;
    margin-left: 64%;
  }

  .email-box{
    margin-top: -7%;
  }

  .phone-box{
    margin-top: -7.5%; 
  }

  .cart-form-control{
    height: calc(1.2em + 0.15rem + 2px);
  }
}

@media only screen and (min-width: 1000px) {
  .container-1{
    justify-content: flex-end;
  }

  .payment_form_body{
    margin-top: auto;
    margin-bottom: -58%;
  }
}

@media only screen and (min-width: 1200px) {
  .container-1{
    justify-content: flex-end;
  }

  .payment_form_body{
    margin-top: auto;
    margin-bottom: -50%;
  }
}

/* nav bar */
body {
  font-family: Open Sans;
  margin: auto;
  scroll-behavior: smooth;
  width: 100%;
}
.navbar-brand {
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar {
  font-size: 20px;
}
.nav-item {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.nav-item:hover {
  background-color: #FFD36E;
}
.dropdown-item:hover {
  background-color: #FFD36E;
}

/* contact us */
.contact-container {
  color: #000000;
  font-family: Open Sans;
}

.rectangle {
  width: 45%;
  text-align: center;
  padding: 8px 10px;
  display: inline-block;
  position: relative;
  top: 15px;
  right: 8px;
  margin-bottom: 25px;
  background-color: #FFD36E;
}

.form-header p{
  text-align: center;
  font-size: 1.5rem;
}

.fcf-body {
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  padding: 5% 17%;
  border-radius: 10px;
  max-width: 100%;
}

.contact-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#DavisBranchButton{
  background: #A4D3FF;
  border-radius: 10px;
  border: 1px solid #A4D3FF;
  font-family: Open Sans;
  font-size: 1rem;
  padding: 2%;
}

#NDHSBranchButton{
  background: #C69FE3;
  border-radius: 10px;
  border: 1px solid #C69FE3;
  font-family: Open Sans;
  font-size: 1rem;
  padding: 2%;
}

#fcf-form {
  display:block;
}

.fcf-label {
  font-size: 1.5rem;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #E3E3E3;
  background-clip: padding-box;
  border: 1px solid #000000;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.fcf-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
}

.fcf-credit a {
  color: #545b62;
  text-decoration: underline;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
      transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: black;
  font-family: Open Sans;
  background-color: #FFD36E;
  border-color: #FFD36E;
  font-size: 1.5rem;
  padding-left: 2%;
  padding-right: 2%;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.boxes{
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

.box1{
  border: 5px solid #A4D3FF;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 5%;
  font-size: 0.75rem;
} 

.box1 p{
  opacity: 0.75;
}

.box2{
  border: 5px solid #C69FE3;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 5%;
  font-size: 0.75rem;
} 

.box2 p{
  opacity: 0.75;
}

.blue-btn {
  background-color: #A4D3FF;
  border: 1px solid #A4D3FF;
  border-radius: 10px;
  font-family: Open Sans;
  font-size: 1.5rem;
  padding: 2%;
}

.purple-btn {
  background-color: #C69FE3; 
  border: 1px solid #C69FE3;
  border-radius: 10px;
  font-family: Open Sans;
  font-size: 1.5rem;
  padding: 2%;
}

@media only screen and (min-width: 768px) {
  .form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-button {
      flex-basis: 50%;
    }

  .blue-btn {
  padding: 7%;
  }

  .purple-btn {
  padding: 7%;
  }

  .form-header {
      text-align: left;
  }
}

@media only screen and (min-width: 1025px) {
  .boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .boxes {
      text-align: left;
  }
}