div{
  display: block;
}
  
.merch{
  position: relative;
  width: 375px;
  height: 835px;
    
  background: #FFFFFF;;  
}
  
.rectangleFrame{
  position: absolute;
  left: 0%;
  right: 57.07%;
  top: 8.86%;
  bottom: 87.19%;  
}

.rectangle{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  background: #FFD36E;
}
  
.cartLabel{
  position: absolute;
  left: 4.35%;
  right: 4.35%;
  top: 30.3%;
  bottom: 27.27%;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;
}
  
.payment_form{
  position: absolute;
  width: 252px;
  height: 272px;
  left: 62px;
  top: 523px;
  
  background: #FFFFFF;
  border: 5px solid #FFD36E;
  box-sizing: border-box;
  border-radius: 20px;
}
  
label{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  
  color: #000000;
}
  
input{
  background: #E2E2E2;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}
  
.fname-box{
  position: absolute;
  width: 152.69px;
  height: 21px;
  left: 141.02px;
  top: 541px;    
}
  
.fname-box::placeholder{
  position: absolute;
  width: 145.22px;
  height: 20px;
  left: 148.49px;
  top: 541px;
}
  
.lname-box{
  position: absolute;
  width: 152.69px;
  height: 21px;
  left: 141.02px;
  top: 567px;
}
  
::placeholder{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  
  color: #A3A3A3;
}
  
.lname-box::placeholder{
  position: absolute;
  width: 145.22px;
  height: 20px;
  left: 148.49px;
  top: 567px;
}
  
.label-name{
  position: absolute;
  width: 51px;
  height: 21px;
  left: 81px;
  top: 541px;
}
  
.label-email{
  position: absolute;
  width: 44px;
  height: 21px;
  left: 81px;
  top: 601px;  
}
  
.email-box{
  position: absolute;
  width: 153px;
  height: 21px;
  left: 141px;
  top: 601px;  
}
  
.label-phone{
  position: absolute;
  width: 44px;
  height: 21px;
  left: 81px;
  top: 635px;
}
  
.phone-box{
  position: absolute;
  width: 107px;
  height: 21px;
  left: 141px;
  top: 635px;  
}
  
.phone-box::placeholder{
  position: absolute;
  width: 145.22px;
  height: 20px;
  left: 148.49px;
  top: 567px;
}
  
.payment-form-header{
  position: absolute;
  width: 199px;
  height: 36px;
  left: 47px;
  top: 461px;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  align-items: center;
  
  color: #000000;  
}
  
.submit-box{
  position: absolute;
  width: 69px;
  height: 27px;
  left: 81px;
  top: 705px;
}
  
button{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  background: #FFD36E;
  border-radius: 20px;
}
  
.submit-form{
  position: absolute;
  left: 9.04%;
  right: 6.78%;
  top: 34.55%;
  bottom: 34.55%;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
}
  
.venmo_icon{
  position: absolute;
  width: 30px;
  height: 28px;
  left: 220px;
  top: 742px;  
}
  
.paypal_icon{
    position: absolute;
    width: 68.33px;
    height: 54.66px;
    left: 1146.41px;
    top: 982px;
    border-radius: 5px;
}